Package: mobile-jolokia-client
Version: 1.0
Architecture: all
Maintainer: Jonathan Colby <jcolby@puppet38-2.mobile.rz>
Installed-Size: 6696
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
